<aside class="sidebar" [class.toggled]="sidebarVisible">
    <perfect-scrollbar>
        <ul class="navigation">
            <li routerLinkActive="navigation__active"><a [routerLink]="['/home']"><i class="zmdi zmdi-home"></i> Home</a></li>
            <!--
            <li [hidden]="!crudUserPermission" routerLinkActive="navigation__active"><a [routerLink]="['/users']"><i class="zmdi zmdi-accounts"></i> Usuarios</a></li>
            <li [hidden]="!crudUserPermission" routerLinkActive="navigation__active"><a [routerLink]="['/teachers']"><i class="zmdi zmdi-graduation-cap"></i> Maestros/Proferores</a></li>
            -->
        </ul>
    </perfect-scrollbar>
</aside>
