<section class="content">
    <header class="content__title">
        <h1>Usuarios</h1>
        <small>Aministración de usuarios</small>
    </header>

    <div class="row">
      <div *ngFor="let user of users" class="col-xl-2 col-lg-3 col-sm-4 col-6">
        <div class="card card--inverse widget-profile">
          <div class="card-body">
            <div class="text-center">
              <lazuly-avatar [url]="user.image" [email]="user.email" [name]="user.first_name + ' ' + user.last_name"
                             [displayType]="'circle'" [size]="'110'" ></lazuly-avatar>
              <!-- <img [src]="user.image" class="widget-profile__img"/> -->
              <h4 class="card-title">{{user.first_name}} {{user.last_name}}</h4>
              <small>{{user.email}}</small>
              <h4 class="card-title">{{user.job_title}}</h4>
              <div *ngFor="let role of user.roles" class="badge badge-pill badge-secondary badge-space">
                <span>{{role.name}}</span>
                <a class="close-space" (click)="removeRole(role, user)"><i class="zmdi zmdi-close"></i></a>
              </div>
              <div class="actions actions--inverse">
                <div dropdown class="actions__item">
                  <i dropdownToggle class="zmdi zmdi-more-vert"></i>
                  <div *dropdownMenu class="dropdown-menu dropdown-menu-right">
                    <a *ngFor="let role of roles" class="dropdown-item" [hidden]="hasRole(user, role)"
                       (click)="addRole(role, user)">Sumar rol {{role.name}}</a>
                    <a class="dropdown-item" (click)="removeUser(user)">Eliminar</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <a class="col-xl-2 col-lg-3 col-sm-4 col-6" (click)="ModalNewUser.show()">
        <div class="card card--inverse widget-profile-plus">
          <div class="card-body">
            <div class="text-center">
              <div class="zmdi zmdi-account-add zmdi-hc-5x" ></div>
              <h4 class="card-title-plus">Agregar nuevo usuario</h4>
            </div>
          </div>
        </div>
      </a>
    </div>
  <div bsModal #ModalNewUser="bs-modal" class="modal fade">
    <div class="modal-dialog lazuly-modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title pull-left">Nuevo usuario</h5>
        </div>
        <div class="modal-body">
          <div>Por favor complete el formulario para crear un nuevo usuario.</div>
          <div class="form-group form-group--float">
            <input [(ngModel)]="newUser.email" autofocus required email type="email" class="form-control" formControlFloat
                   #email="ngModel" [class.is-invalid]="email.invalid && email.errors">
            <label>Email *</label>
            <i class="form-group__bar"></i>
            <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger">
              <small *ngIf="email.errors.required">
                El Email es obligatorio.
              </small>
              <small *ngIf="email.errors.email">
                Tiene que ser un email válido.
              </small>
            </div>
          </div>
          <div class="form-group form-group--float">
            <input [(ngModel)]="newUser.first_name" required type="text" class="form-control" formControlFloat
              #firstName="ngModel" [class.is-invalid]="firstName.invalid && firstName.errors">
            <label>Nombre *</label>
            <i class="form-group__bar"></i>
            <div *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)" class="alert alert-danger">
              <small *ngIf="firstName.errors.required">
                El nombre es obligatorio.
              </small>
            </div>
          </div>
          <div class="form-group form-group--float">
            <input [(ngModel)]="newUser.last_name" required type="text" class="form-control" formControlFloat
                   #lastName="ngModel" [class.is-invalid]="lastName.invalid && lastName.errors">
            <label>Apellido *</label>
            <i class="form-group__bar"></i>
            <div *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)" class="alert alert-danger">
              <small *ngIf="lastName.errors.required">
                El apellido es obligatorio.
              </small>
            </div>
          </div>
          <div class="form-group form-group--float">
            <input [(ngModel)]="newUser.job_title" type="text" class="form-control" formControlFloat>
            <label>Cargo</label>
            <i class="form-group__bar"></i>
          </div>
          <div class="form-group form-group--select" formcontrolfloat>
            <label>Rol *</label>
            <div class="select">
              <select [(ngModel)]="selectedRole" class="form-control">
                <option *ngFor="let role of roles" [ngValue]="role">{{role.name}}</option>
              </select>
              <i class="form-group__bar"></i>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button *ngIf="!email.invalid && !lastName.invalid && !firstName.invalid && selectedRole"
            type="button" class="btn btn-link" (click)="addUser(ModalNewUser)">Crear</button>
        </div>
      </div>
    </div>
  </div>

</section>
