<header class="header">
  <div class="header__logo ">
    <h1><a [routerLink]="['']">Lázuly</a></h1>
  </div>
</header>
<div class="container white z-depth-2">
  <div class="card" >
    <h1 class="card-title">Lázuly Nueva contraseña</h1>
    <div class="card-body">
      <div class="row">
        <div class="col-sm-12">
          <div class="input-group">
            <div class="form-group">
              <input [(ngModel)]="user.password" type="password" name="password" class="form-control form-control-lg" placeholder="Nueva contraseña">
              <i class="form-group__bar"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="input-group">
            <div class="form-group">
              <input [(ngModel)]="user.rePassword" type="password" name="rePassword" class="form-control form-control-lg" placeholder="Repite Contraseña">
              <i class="form-group__bar"></i>
              <p [hidden]="!errors"
                 class="help-block text-danger">Revisa si escribiste bien la contraseña.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="btn-login">
        <button (click)="send()" type="button" class="btn btn-lg btn-primary float-right">Enviar</button>
      </div>
      <div class="row">
        <alert [hidden]="!bkErrors" type="danger">
          Ops! Parece que tuvimos un error y no se pudo regenerar la contraseña, por favot intenta mas tarde.
        </alert>
      </div>
    </div>
  </div>
</div>
