@import "../../assets/scss/inner-imports";

.container {
  margin-top: 200px;
  width: 400px;
  height: 700px;
}

.card-title {
  padding: 1.5em;
  background-color: $green;
  color: white;
  font-size: 1.4rem;
}

.btn-login {
  & > .btn,
  & > .btn-group {
    margin-top: 20px;
  }
}

// Header Base
.header {
  position: fixed;
  width: 100%;
  height: $header-height;
  box-shadow: $header-shadow;
  color: $white;
  padding: 0 2rem;
  z-index: $header-z-index;
  display: flex;
  align-items: center;
  top: 0;
  left: 0;
  background-color: $green;


  @include clearfix();

  .ma-backdrop {
    position: absolute;
  }
}

// Logo
.header__logo {
  font-family: 'Kaushan Script', 'Helvetica Neue', Helvetica, Arial, cursive;
  @include media-breakpoint-up(xl) {
    min-width: calc(#{$sidebar-width} - 2rem);
  }

  @include media-breakpoint-down(sm) {
    display: none;
  }

  & > h1 {
    line-height: 100%;
    font-size: 2.4rem;
    font-weight: normal;
    margin: 0;

    & > a {
      color: $white;
    }
  }
}
